<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ФМІ</title>
    @Styles.Render("~/bundles/baseCSS")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/fonts")
    @RenderSection("Styles", false)
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Навігація</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SmartTech <i class="fa fa-connectdevelop fa-3x" aria-hidden="true"></i></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                    <li>@Html.ActionLink("Новини", "News", "Home")</li>
                    <li>@Html.ActionLink("Повідомлення", "Message", "Message")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Навчання <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <a href="@Url.Action("Subject", "Subject")" title="Groups" <i class="fa fa-book" aria-hidden="true"></i> Предмети</a>
                            </li>
                            @if (this.User.IsInRole("Student"))
                            {
                                <li class="dropdown-item"><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Викладачі</a></li>}
                            @if (this.User.IsInRole("Student") || this.User.IsInRole("Teacher"))
                            {
                                <li class="dropdown-item">
                                    <a href="@Url.Action("Tasks", "Subject")" title="Tasks"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Завдання</a>
                                </li>}
                            @if (this.User.IsInRole("Teacher"))
                            {
                                <li class="dropdown-item">
                                    <a href="@Url.Action("Groups", "Group")" title="Groups"><i class="fa fa-users" aria-hidden="true"></i> Групи</a>
                                </li>}
                        </ul>
                    </li>

                    <li><a href="@Url.Action("About", "Home")" title="Groups">Інформація</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a href="@Url.Action("Account", "ChangeProfile")" title="Change profile"><span class="glyphicon glyphicon-user"></span> Редагувати профіль</a>
                                </li>
                                @if (User.IsInRole("Teacher"))
                                {
                                    <li class="dropdown-item">
                                        <a href="@Url.Action("Group", "Groups")" title="Groups"><span class="glyphicon glyphicon-list-alt"></span>Групи</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="@Url.Action("Users","Account")" title="Students"><span class="glyphicon glyphicon-wrench"></span>Користувачі</a>
                                    </li>
                                }
                            </ul>
                        </li>}
                    <li> <a href="@Url.Action("Logout","Account")"<i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - ФМІ</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @RenderSection("Script", false)
</body>
</html>