@model RCodingSchool.ViewModels.ChaptersListVM
@{
    ViewBag.Title = "Subject";
}
<div class="container">
    <div class="btn-group teacher-toolbar text-center">
        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal"><i class="fa fa-file-archive-o" aria-hidden="true"></i> Новий розділ</button>
        <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Tasks", "Subject", new { id = Model.SubjectId })'"><i class="fa fa-files-o" aria-hidden="true"></i> Усі завдання</button>
        <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("CreateTask", "Subject", new { id = Model.SubjectId })'"><i class="fa fa-file-o" aria-hidden="true"></i> Нове завдання</button>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("CreateChapter", "Chapter", FormMethod.Post))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Введіть назву розділу</h4>
                    </div>
                    <div class="modal-body">
                        @Html.HiddenFor(m => m.SubjectId)
                        @Html.TextBox("Name", null, new { @type = "text", @class = "form-control input" })
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Зберегти</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="panel-group" id="accordion">
                @foreach (var el in Model.Chapters)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="@("#collapse" + el.Id)">@el.Name</a>
                                @if (this.User.IsInRole("Teacher"))
                                {
                                    <a href="@Url.Action("CreateTopic", "Chapter", new { id = el.Id })"><i class="fa fa-plus pull-right" aria-hidden="true"></i></a>
                                }
                            </h4>
                        </div>
                        <div id="@("collapse" + el.Id)" class="panel-collapse collapse">
                            <div class="panel-body list-group">
                                @foreach (var x in el.Topics)
                                {
                                    <a href="#" onclick="d(@x.Id)" class="list-group-item list-group-item-action">@x.Name</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        @if (Model.Chapters.Count > 0 && Model.Chapters[0].Topics.Count > 0)
        {
            <div class="col-sm-8 col-md-8">
                <div class="well" id="currentTopic"></div>
            </div>
         }
    </div>
</div>

@section Script
{
    <script>
        function d(id) {
            var url = "/chapter/topic/";
            $.post(url, { id: id })
                .done(function (response) {
                    $("#currentTopic").html(decodeURI(response));
                });
        }

        d(@Model.Chapters[0].Topics.FirstOrDefault().Id);
    </script>
}