@model RCodingSchool.ViewModels.TopicVM
@{
    ViewBag.Title = "CreateTopic";
}

<div class="container">
    <h2>Додайте нову тему</h2>
@using (Html.BeginForm("CreateTopic", "Chapter", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form>
        <div class="form-group">
            @Html.HiddenFor( m => m.ChapterId)
            @Html.HiddenFor(m => m.Id)
            <label for="pwd">Назва теми:</label>
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            <label for="comment">Вміст теми:</label>
            @Html.TextAreaFor(m => m.Text, new { @class = "form-control", @rows = "12" })
           
        </div>
        @*<div class="form-group">
            <label class="btn btn-default btn-file">
                Додати зображення <input type="file" style="display: none;">
            </label>
        </div>*@
        @Html.ValidationMessage("credentials", new { htmlAttributes = new { @class = "text-danger" } })
        <div class="btn-group">
            <button class="btn btn-default" >Код</button>
            <button class="btn btn-default">Зображення</button>
            <button class="btn btn-default">Формула</button>
        </div>
        <button type="submit" class="upload btn btn-primary">Зберегти</button>
    </form>
}
</div>
