@model RCodingSchool.ViewModels.TopicVM
@{
    ViewBag.Title = "CreateTopic";
}

@section Styles{
    @Styles.Render("~/bundles/markdownCSS")
}

<div class="container">
    <h2>Додайте нову тему</h2>
    @using (Html.BeginForm("CreateTopic", "Chapter", FormMethod.Post, new { @name = "topic-form" }))
    {
        <input type="file" class="fileloader hidden" accept="image/*" />
        <div class="form-group">
            @Html.HiddenFor(m => m.ChapterId)
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.SubjectId)
            <label>Назва теми:</label>
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            <label for="">Вміст теми:</label>
            @Html.TextAreaFor(m => m.Text, new { @class = "form-control", @rows = "12", @id = "text-input" })
        </div>
           
        @Html.ValidationMessage("credentials", new { HtmlAttributes = new { @class = "text-danger" } })
        <button type="button" class="upload btn btn-primary">Зберегти</button>
    }
</div>

@section Script
{
    @Scripts.Render("~/bundles/markdown")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.3.1/markdown-it.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
    <script src="~/Scripts/texmath.js"></script>
    <script src="~/Scripts/fileloader.js"></script>
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Відрегулюйте розмір зображення:</h4>
            </div>
            <div class="modal-body">
                <input type="range" max="1000" min="100" step="10" id="image-width" />
                <p>Ширина: <span id="image-width-indicator"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="save-range-btn">Зберегти</button>
            </div>
        </div>
    </div>
</div>