@model RCodingSchool.ViewModels.TaskVM
@{
    ViewBag.Title = "Task";
}

@Html.HiddenFor(m => m.Id)

@if (User.IsInRole("Student"))
{
    <div class="btn-toolbar pull-right " role="toolbar">
        <div class="btn-group">
            <button class="btn btn-default" title="Вирішення" onclick="location.href='@Url.Action("SolveTask", "Subject", new { taskId = Model.Id })'"><i class="fa fa-bookmark" aria-hidden="true"></i></button>
        </div>
    </div>
}
<h2>@Model.Name</h2>
<p>@Model.Text</p>
@if (Model.Files.Count > 0)
{
    <label>Прикріплені файли:</label>
    <div id="file-names">
        @foreach (var x in Model.Files)
        {
            <a href="@Url.Action("File", "Download", new { id = x.Id })"><span class="label label-info" id="upload-file-info">@x.Name</span><br></a>
        }
    </div>
}

@if (User.IsInRole("Teacher"))
{
    <hr />
    <h4>Прислали вирішення:</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Студент</th>
                    <th>Група</th>
                    <th>Оцінка (%)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.DoneTasks)
                {
                    <tr onclick="location.href='@Url.Action("DoneTask", "Subject", new { doneTaskId = @i.Id})'">
                        <td>@i.Student.User.FirstName @i.Student.User.LastName</td>
                        <td>@i.Student.Group.Name</td>
                        <td>@i.Mark</td>
                    </tr>}
            </tbody>
        </table>
    </div>
}


