@model  StudLine.ViewModels.UserVM
@{
    ViewBag.Title = "Register";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/baseCSS")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/login")
</head>
<body>
    <div class="container body-content">
        <div class="row register">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form joinus", role = "form" ,@id ="RegForm" }))
                {
                    <h2>Будь ласка, введіть дані.</h2>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.HiddenFor(m => m.Id)
                                @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @type = "text", @name = "first_name", @class = "form-control input-lg", @placeholder = "Ім'я" } })
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @type = "text", @name = "last_name", @class = "form-control input-lg", @placeholder = "Фамілія" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                           @Html.RadioButtonFor(m => m.IsTeacher, true) Викладач
                        </label>
                        <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.IsTeacher,  false) Студент
                        </label>
                    </div>
                            <div class="form-group" id="groupElements" hidden>
                                <label for="sel1"> Виберіть групу:</label>
                                @Html.DropDownListFor(m => m.GroupId, Model.Categories, new { @type = "text", @name = "group", @class = "form-control input-lg" })
                            </div>
                        <div class="form-group">
                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @type = "email", @id = "email", @class = "form-control input-lg", @placeholder = "Е-мейл" } })
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @type = "password", @id = "password", @class = "form-control input-lg", @placeholder = "Пароль" } })
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @type = "password", @id = "confirm_password", @class = "form-control input-lg", @placeholder = "Підтвердіть пароль" } })
                                </div>
                            </div>
                        </div>
                        @Html.ValidationMessage("credentials", new { htmlAttributes = new { @class="text-danger"} })
                        <hr>
                        <div class="row">
                            <div class="col-xs-6 col-md-6"><input type="submit" value="Зареєструватись" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                            <div class="col-xs-6 col-md-6"><a href="@Url.Action("Index", "Home")" class="btn btn-success btn-block btn-lg">Увійти</a></div>
                        </div>}
                    </div>
        </div>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - ФМІ</p>
    </footer>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $('#RegForm input').on('change', function () {
            if ($('input[name=IsTeacher]:checked', '#RegForm').val() == true) {
                $('#groupElements').removeAttr('hidden');
                $('#groupElements').show();
            }
            else {
                $('#groupElements').hide();
            }
        });

    </script>
</body>
</html>
