@model RCodingSchool.ViewModels.UserListsVM
@{
    ViewBag.Title = "Administration";
}

@section Styles{
    @Styles.Render("~/bundles/admin")
}

@if (@Model.NoActiveStudents.Count > 0)
{
    using (Html.BeginForm("NoActiveStudents", "Account", FormMethod.Post))
    {
            <h3>Студенти, чекаючі активації: </h3>

            <table class="table media-middle">
                <thead>
                    <tr>
                        <th>Ім'я</th>
                        <th>Фамілія</th>
                        <th>E-mail</th>
                        <th>Група</th>
                        <th class="checktool col-md-1">Активувати</th>
                        @if (User.IsInRole("Admin"))
                        {
                            <th class="checktool col-md-1">Адміністратор</th>
                            <th class="checktool col-md-1">Видалити</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.NoActiveStudents.Count(); i++)
                    {
                        <tr>
                            @Html.HiddenFor(m => m.NoActiveStudents[i].Id)
                            @Html.HiddenFor(m => m.NoActiveStudents[i].GroupId)
                            <td>@Html.EditorFor(m => m.NoActiveStudents[i].User.FirstName, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                            <td>@Html.EditorFor(m => m.NoActiveStudents[i].User.LastName, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                            <td>@Html.EditorFor(m => m.NoActiveStudents[i].User.Email, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                            <td>@Html.DropDownListFor(m => m.NoActiveStudents[i].newGroupId, Model.Categories, (Model.NoActiveStudents[i].Group == null) ? "" : Model.NoActiveStudents[i].Group.Name, new { @type = "text", @name = "group", @class = "form-control input groups-input" })</td>
                            <td>@Html.CheckBoxFor(m => m.NoActiveStudents[i].User.IsActive)</td>
                            @if (User.IsInRole("Admin"))
                            {
                                <td>@Html.CheckBoxFor(m => m.NoActiveStudents[i].User.IsAdmin)</td>
                                <td>@Html.CheckBoxFor(m => m.NoActiveStudents[i].MarkForDelete)</td>
}
                        </tr>
}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary text-center">Зберегти зміни</button>
            <hr>
    }
}

@if (Model.NoActiveTeachers.Count > 0)
{
    using (Html.BeginForm("NoActiveTeachers", "Account", FormMethod.Post))
    {
        <h3>Викладачі, чекаючі активації:</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ім'я</th>
                                <th>Фамілія</th>
                                <th>E-mail</th>
                                <th class="checktool col-md-1">Активувати</th>
                                @if (User.IsInRole("Admin"))
                                {
                                    <th class="checktool col-md-1">Адміністратор</th>
                                    <th class="checktool col-md-1">Видалити</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.NoActiveTeachers.Count(); i++)
                            {
                                <tr>
                                    @Html.HiddenFor(m => m.NoActiveTeachers[i].Id)
                                    <td>@Html.EditorFor(m => m.NoActiveTeachers[i].User.FirstName, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                                    <td>@Html.EditorFor(m => m.NoActiveTeachers[i].User.LastName, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                                    <td>@Html.EditorFor(m => m.NoActiveTeachers[i].User.Email, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                                    <td>@Html.CheckBoxFor(m => m.NoActiveTeachers[i].User.IsActive)</td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <td>@Html.CheckBoxFor(m => m.NoActiveTeachers[i].User.IsAdmin)</td>
                                        <td>@Html.CheckBoxFor(m => m.NoActiveTeachers[i].MarkForDelete)</td>
}
                                </tr>
}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary">Зберегти зміни</button>
                    <hr>
    }
}

@if (Model.Students.Count > 0)
{
    using (Html.BeginForm("ActiveStudents", "Account", FormMethod.Post))
    {
        <h3>Студенти: </h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ім'я</th>
                                <th>Фамілія</th>
                                <th>E-mail</th>
                                <th>Група</th>
                                <th class="checktool col-md-1">Активний</th>
                                @if (User.IsInRole("Admin"))
                                {
                                    <th class="checktool col-md-1">Адміністратор</th>
                                    <th class="checktool col-md-1">Видалити</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Students.Count(); i++)
                            {
                                <tr>
                                    @Html.HiddenFor(m => m.Students[i].Id)
                                    @Html.HiddenFor(m => m.Students[i].GroupId)
                                    <td>@Html.EditorFor(m => m.Students[i].User.FirstName, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                                    <td>@Html.EditorFor(m => m.Students[i].User.LastName, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                                    <td>@Html.EditorFor(m => m.Students[i].User.Email, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                                    <td> @Html.DropDownListFor(m => m.Students[i].newGroupId, Model.Categories, (Model.Students[i].Group == null) ? "" : Model.Students[i].Group.Name, new { @type = "text", @name = "group", @class = "form-control input groups-input" })</td>
                                    <td>@Html.CheckBoxFor(m => m.Students[i].User.IsActive)</td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <td>@Html.CheckBoxFor(m => m.Students[i].User.IsAdmin)</td>
                                        <td>@Html.CheckBoxFor(m => m.Students[i].MarkForDelete)</td>
}
                                </tr>
}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary">Зберегти зміни</button>
                    <hr>
    }
}

@if (Model.Teachers.Count > 0)
{
    using (Html.BeginForm("ActiveTeachers", "Account", FormMethod.Post))
    {
        <h3>Викладачі: </h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ім'я</th>
                                <th>Фамілія</th>
                                <th>E-mail</th>
                                <th class="checktool col-md-1">Активний</th>
                                @if (User.IsInRole("Admin"))
                                {
                                    <th class="checktool col-md-1">Адміністратор</th>
                                    <th class="checktool col-md-1">Видалити</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Teachers.Count; i++)
                            {
                                <tr>
                                    @Html.HiddenFor(m => m.Teachers[i].Id)
                                    <td>@Html.EditorFor(m => m.Teachers[i].User.FirstName, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                                    <td>@Html.EditorFor(m => m.Teachers[i].User.LastName, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                                    <td>@Html.EditorFor(m => m.Teachers[i].User.Email, new { htmlAttributes = new { @readonly = "readonly", @class = "tdread" } })</td>
                                    <td>@Html.CheckBoxFor(m => m.Teachers[i].User.IsActive)</td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <td>@Html.CheckBoxFor(m => m.Teachers[i].User.IsAdmin)</td>
                                        <td>@Html.CheckBoxFor(m => m.Teachers[i].MarkForDelete)</td>
}
                                </tr>
}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary">Зберегти зміни</button>
                    <hr>
    }
}
