@model  List<RCodingSchool.ViewModels.MessageVM>

<div class="container bootstrap ">
    <div class="row">
        <div class="col-md-3 bg-white  bg-white ">
            <div class="panel panel-default">
                <div class="panel-heading">Повідомлення</div>
                <div class="list-group">
                    <a href="#" class="list-group-item">Загальна бесіда <span class="badge badge-info">22</span></a>
                    <a href="#" class="list-group-item">507м <span class="badge badge-info">24</span></a>
                    <a href="#" class="list-group-item">Ігор Панчук <span class="badge badge-info">17</span></a>
                    <a href="#" class="list-group-item">Степан Миронюк <span class="badge badge-info">1</span></a>
                </div>
            </div>
        </div>
        <div class="col-md-8 bg-white col-xs-12 bg-white ">
            <div class="chat-message snippet">
                <div class="media " id="discussion">
                    <button class="btn btn-default" title="Більше" onclick="location.href='@Url.Action("Message", "Message", new { currentMessageCount = Model.Count })'"><i class="fa fa-history" aria-hidden="true"></i></button>
                    @foreach (var x in Model)
                    {
                        <div class="media">
                            <div class="media-left">
                                <img src="../../Content/images/default_user.png" class="media-object" style="width:40px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">@x.User.FirstName @x.User.LastName<small> @x.ReceiveTime.ToString("dd/MM/yyyy hh:mm:ss")</small></h4>
                                <p>@x.Text</p>
                            </div>
                        </div>
                    <hr>}
                </div>
                <div class="chat-box bg-white">
                    <!-- /input-group -->
                </div>
            </div>
            <div class="input-group">
                <input type="text" id="message" class="form-control border no-shadow no-rounded" placeholder="Напишіть повідомлення">
                <span class="input-group-btn">
                    <button id="sendmessage" class="btn btn-primary no-rounded" type="button">Відправити</button>
                </span>
            </div>
        </div>
        <div class="col-md-1 bg-white  bg-white "></div>
    </div>
    </div>


    @section Script
{
        @Scripts.Render("~/bundles/signalrScripts")
        <script src="~/signalr/hubs"></script>
        @Scripts.Render("~/bundles/MessageScripts")
    }
