@model  List<StudLine.ViewModels.MessageVM>

<div class="container bootstrap ">
    <div class="row">
            <div class="chat-message snippet">
                <div class="media " id="discussion">
                    <button class="btn btn-default" title="Більше" onclick="location.href='@Url.Action("Message", "Message", new { currentMessageCount = Model.Count })'"><i class="fa fa-history" aria-hidden="true"></i></button>
                    @foreach (var x in Model)
                    {
                        <div class="media">
                            @if (User.Identity.Name != x.User.Email)
                                 {
                                <div class="media-left">
                                    <img src="../../Content/images/default_user.png" class="media-object" style="width:40px">
                                </div>
                                <div class="media-body message-left">
                                    <h4 class="media-heading">@x.User.FirstName @x.User.LastName<small> @x.ReceiveTime.ToString("dd/MM/yyyy hh:mm:ss")</small></h4>
                                    <p>@x.Text</p>
                                </div>
                                    }
                            else
                            {
                                <div class="media-body message-right">
                                    <h4 class="media-heading">@x.User.FirstName @x.User.LastName<small> @x.ReceiveTime.ToString("dd/MM/yyyy hh:mm:ss")</small></h4>
                                    <p>@x.Text</p>
                                </div>
                                <div class="media-right">
                                    <img src="../../Content/images/default_user.png" class="media-object" style="width:40px">
                                </div>
                            }

                        </div>
                   }
                </div>
                <div class="chat-box bg-white">
                    <!-- /input-group -->
                </div>
            </div>
            <div class="input-group">
                <input type="text" id="message" class="form-control border no-shadow no-rounded" placeholder="Напишіть повідомлення">
                <span class="input-group-btn">
                    <button id="sendmessage" class="btn btn-primary no-rounded" type="button">Відправити</button>
                </span>
            </div>
        </div>
    </div>



    @section Script
{
        @Scripts.Render("~/bundles/signalrScripts")
        <script src="~/signalr/hubs"></script>
        @Scripts.Render("~/bundles/MessageScripts")
    }
